<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit) = "AddIngredient(f)" #f = "ngForm"> <!-- #f="ngForm" gives access to javascript form behind the scenes-->
            <div class="row">
                <div class="col-md-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" ngModel name="name" class="form-control" required #name="ngModel">
                    <span *ngIf="!name.valid && name.touched" class="help-block"> Ingredient's Name is required</span>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" [ngModel]="amount" name="amount" class="form-control" required #amount="ngModel" [pattern]="'^[1-9]+[0-9]*$'">
                    <span *ngIf="!amount.valid && amount.touched" class="help-block"> Ingredient's Amount is required</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button [disabled] ="!f.valid" class="btn btn-success" type="submit">{{!EditMode ? "Add" : "Update"}}</button> <!--(click)="AddIngredient()-->
                    <button class="btn btn-danger" *ngIf ="EditItemIndex != -1" (click) = "DeleteItem()" type="button">Delete</button>
                    <button class="btn btn-primary"  (click)="ClearForm()" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>